In [8]:
print("Hello, World!")
print(123)
print(1+4)
print(2*4)
print("The end", "or is it?", "Keep watching to learn more about python", 3)

12+3

Hello, World!
123
5
8
The end or is it? Keep watching to learn more about python 3

15

In [10]:
print("My hovercraft is full of eels")
print(6 * 7)

My hovercraft is full of eels
42

In [13]:
print("Today is a good day to learn python")
print('Python is fun')
print("Python's string are easy to use")
print('We can even include "quotes" in strings')
print("hello" + " world")
greeting = "Hello"
name = input("Please enter your name ")

# if we want a space, we can add that too
print(greeting + ' ' + name)

Today is a good day to learn python
Python is fun
Python's string are easy to use
We can even include "quotes" in strings
hello world
Please enter your name Tim
Hello Tim

In [15]:
splitString = "This string has been\nsplit over\nseveral\nlines"
print(splitString)

This string has been
split over
several
lines

In [17]:
print('The pet shop owner said "No, no, \'e\'s uh,...he\'s resting".')
print("The pet shop owner said \"No, no, 'e's uh,...he's resting\".")
print("""The pet shop owner said "No,no, 'e's uh,...he's resting". """)
anotherSplitString = """This string has been
split over
several
lines"""
print(anotherSplitString)

The pet shop owner said "No, no, 'e's uh,...he's resting".
The pet shop owner said "No, no, 'e's uh,...he's resting".
The pet shop owner said "No,no, 'e's uh,...he's resting".
This string has been
split over
several
lines

In [22]:
print("Number 1\tThe Larch") # "'\t'- for tab"
print("Number 2\tthe Horse Chestnut") # "'\n' - for new line"
print("C:\\User\\timuchalka\\notes.txt") # for escape character
print(r"C:\User\timuchalka\notes.txt")

Number 1	The Larch
Number 2	the Horse Chestnut
C:\User\timuchalka\notes.txt
C:\User\timuchalka\notes.txt

In [4]:
name = "Tom"
age = 24
#print(name + " is " + age + " years old") #it cannot concatenate string and integer

In [7]:
a = 12
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
for i in range(1, a // b):
    print(i)

15
9
36
4.0
4
0
1
2
3

In [9]:
bun_price = 2.40
money = 15
print(money // bun_price)
print(money / bun_price)

6.0
6.25

In [15]:
parrot = "Norwegian Blue"
print(parrot)
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])
print()
print(parrot[-11])
print(parrot[-1])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])
print(parrot[0:9])
print(parrot[10:])
print(parrot[:])

Norwegian Blue
w
e

w
i
n

w
e

w
i
n
Norwegian
Blue
Norwegian Blue

In [17]:
number = "9,223;372:036 854,775;807"
separators = number[1::4]
print(separators)
values = "".join(char if char not in separators else " " for char in number).split()
print([int(val) for val in values])

,;: ,;
[9, 223, 372, 36, 854, 775, 807]

In [25]:
letters = "abcdefghijklmnopqrstuvwxyz"
backward = letters[25::-1]
print(backward)
back = letters[16:13:-1]
print(back)
bac = letters[4::-1]
print(bac)
ba = letters[25:17:-1]
print(ba)
let = ""
print(let[:1])

zyxwvutsrqponmlkjihgfedcba
qpo
edcba
zyxwvuts

In [28]:
print(5 * " Hello")
today = "friday"
print("day" in today)
print("fri" in today)
print("thur" in today)

 Hello Hello Hello Hello Hello
True
True
False

In [34]:
age = 24
print("My age is " + str(age) + " years")
print("My age is {0} years".format(age))
print("There are {0} days in {1}, {2}, {3}, {4}, {5}, {6} and {7}."
      .format(31, "Jan", "Mar", "May", "Jul", "Aug", "Oct", "Dec"))
print("Jan: {2}, Feb: {0}, Mar: {2}, Apr: {1}, May: {2}, Jun: {1}, Jul: {2}, Sep: {1}, Oct: {2}, Nov: {1}, Dec: {2}"
     .format(28, 30, 31))
print("""Jan: {2}
Feb: {0}
Mar: {2}
Apr: {1}
May: {2}
Jun: {1}
Jul: {2}
Aug: {2}
Sep: {1}
Oct: {2}
Nov: {1}
Dec: {2}""".format(28, 30, 31))

My age is 24 years
My age is 24 years
There are 31 days in Jan, Mar, May, Jul, Aug, Oct and Dec.
Jan: 31, Feb: 28, Mar: 31, Apr: 30, May: 31, Jun: 30, Jul: 31, Sep: 30, Oct: 31, Nov: 30, Dec: 31
Jan: 31
Feb: 28
Mar: 31
Apr: 30
May: 31
Jun: 30
Jul: 31
Aug: 31
Sep: 30
Oct: 31
Nov: 30
Dec: 31

In [40]:
for i in range(1, 13):
    print("No. {0:3} squared is {1:5} and cubed is {2:5}".format(i, i ** 2, i ** 3))

No.   1 squared is     1 and cubed is     1
No.   2 squared is     4 and cubed is     8
No.   3 squared is     9 and cubed is    27
No.   4 squared is    16 and cubed is    64
No.   5 squared is    25 and cubed is   125
No.   6 squared is    36 and cubed is   216
No.   7 squared is    49 and cubed is   343
No.   8 squared is    64 and cubed is   512
No.   9 squared is    81 and cubed is   729
No.  10 squared is   100 and cubed is  1000
No.  11 squared is   121 and cubed is  1331
No.  12 squared is   144 and cubed is  1728

In [44]:
age = 24
print("My age is %d years" % age)
major = "years"
minor = "months"
print("My age is %d %s, %d %s" % (age, major, 6, minor))
print("PI is approximately %f" % (22 / 7))
print("PI is approximately %20.10f" % (22 / 7))

My age is 24 years
My age is 24 years, 6 months
PI is approximately 3.142857
PI is approximately         3.1428571429

In [47]:
name = input("Please enter your name: ")
age = int(input("How old are you, {0}? ".format(name)))
print(age)

if age >= 18:
    print("You are old enough to vote")
else:
    print("Please come back in {0} years".format(18 - age))

Please enter your name: Tim
How old are you, Tim? 16
16
Please come back in 2 years

In [ ]:
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("Please guess higher")
elif guess > answer:
    print("Please guess lower")
else:
    print("You got it right the first time")