In [4]:
answer = 5

print("Please guess a number between 1 and 10: ")
guess = int(input())

if guess > answer:
    print("Please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, that is right")
elif guess < answer:
    print("Please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, good guess")
else:
    print("You got it first time")

Please guess a number between 1 and 10:
5
You got it first time

In [9]:
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess != answer:
    if guess < answer:
        print("Please guess higher")
    else: # guess must be greater than answer
        print("Please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you guessed it")
    else:
        print("Sorry, you have not guessed correctly")
else:
    print("You got it first time")

Please guess number between 11 and 10:
8
Please guess lower
6
Sorry, you have not guessed correctly

In [11]:
answer = 5
print("Please guess a number between 1 and 10: ")
guess = int(input())

if guess == answer:
    print("You got it right first time")
else:
    if guess < answer:
        print("Please guess higher")
    else:
        print("Please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, good guess")
    else:
        print("Sorry, wrong guess")

Please guess a number between 1 and 10:
8
Please guess lower
6
Sorry, wrong guess

In [13]:
age = int(input("How are old are you?"))
if age >= 16 and age <= 65:
    print("Have a great day at work")
else:
    print("You are not allowed to work")

How are old are you?68
You are not allowed to work

In [15]:
name = input("What is your name? ")
age = int(input("How old are you? "))
if 18 < age < 30:
    print("Welcome to the park, enjoy your holiday")
else:
    print("We are sorry for the inconvience. Thank you")

What is your name? Tim
How old are you? 38
We are sorry for the inconvience. Thank you

In [16]:
parrot = "Norwegian Blue"

for character in parrot:
    print(character)

N
o
r
w
e
g
i
a
n

B
l
u
e

In [17]:
quote = """
Alright, but apart from the Sanitation, the Medicine, Education, Wine, Public Order, Irrigation, Roads, the Fresh-Water
System, and Public Health, what have the Romans ever done for us?"""
for char in quote: # to get all the capital letters in the quote
    if char.isupper():
        print(char)

A
S
M
E
W
P
O
I
R
F
W
S
P
H
R

In [22]:
for i in range(1,20):
    print("i is now {}".format(i))
print("*"* 20)    
for i in range(10, 0, -2):
    print("i is {}".format(i))

i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19
********************
i is 10
i is 8
i is 6
i is 4
i is 2

In [24]:
for i in range(0,101,7):
    print(i)
print(_ *20)

for i in range(0,101,7):
    print("{} is divisible by 7".format(i))

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

0 is divisible by 7
7 is divisible by 7
14 is divisible by 7
21 is divisible by 7
28 is divisible by 7
35 is divisible by 7
42 is divisible by 7
49 is divisible by 7
56 is divisible by 7
63 is divisible by 7
70 is divisible by 7
77 is divisible by 7
84 is divisible by 7
91 is divisible by 7
98 is divisible by 7

In [27]:
for i in range(1, 13):
    for j in range(1, 13):
        print("{0} times {1} is {2}".format(j, i, i * j))
    print("_____________")

1 times 1 is 1
2 times 1 is 2
3 times 1 is 3
4 times 1 is 4
5 times 1 is 5
6 times 1 is 6
7 times 1 is 7
8 times 1 is 8
9 times 1 is 9
10 times 1 is 10
11 times 1 is 11
12 times 1 is 12
_____________
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20
11 times 2 is 22
12 times 2 is 24
_____________
1 times 3 is 3
2 times 3 is 6
3 times 3 is 9
4 times 3 is 12
5 times 3 is 15
6 times 3 is 18
7 times 3 is 21
8 times 3 is 24
9 times 3 is 27
10 times 3 is 30
11 times 3 is 33
12 times 3 is 36
_____________
1 times 4 is 4
2 times 4 is 8
3 times 4 is 12
4 times 4 is 16
5 times 4 is 20
6 times 4 is 24
7 times 4 is 28
8 times 4 is 32
9 times 4 is 36
10 times 4 is 40
11 times 4 is 44
12 times 4 is 48
_____________
1 times 5 is 5
2 times 5 is 10
3 times 5 is 15
4 times 5 is 20
5 times 5 is 25
6 times 5 is 30
7 times 5 is 35
8 times 5 is 40
9 times 5 is 45
10 times 5 is 50
11 times 5 is 55
12 times 5 is 60
_____________
1 times 6 is 6
2 times 6 is 12
3 times 6 is 18
4 times 6 is 24
5 times 6 is 30
6 times 6 is 36
7 times 6 is 42
8 times 6 is 48
9 times 6 is 54
10 times 6 is 60
11 times 6 is 66
12 times 6 is 72
_____________
1 times 7 is 7
2 times 7 is 14
3 times 7 is 21
4 times 7 is 28
5 times 7 is 35
6 times 7 is 42
7 times 7 is 49
8 times 7 is 56
9 times 7 is 63
10 times 7 is 70
11 times 7 is 77
12 times 7 is 84
_____________
1 times 8 is 8
2 times 8 is 16
3 times 8 is 24
4 times 8 is 32
5 times 8 is 40
6 times 8 is 48
7 times 8 is 56
8 times 8 is 64
9 times 8 is 72
10 times 8 is 80
11 times 8 is 88
12 times 8 is 96
_____________
1 times 9 is 9
2 times 9 is 18
3 times 9 is 27
4 times 9 is 36
5 times 9 is 45
6 times 9 is 54
7 times 9 is 63
8 times 9 is 72
9 times 9 is 81
10 times 9 is 90
11 times 9 is 99
12 times 9 is 108
_____________
1 times 10 is 10
2 times 10 is 20
3 times 10 is 30
4 times 10 is 40
5 times 10 is 50
6 times 10 is 60
7 times 10 is 70
8 times 10 is 80
9 times 10 is 90
10 times 10 is 100
11 times 10 is 110
12 times 10 is 120
_____________
1 times 11 is 11
2 times 11 is 22
3 times 11 is 33
4 times 11 is 44
5 times 11 is 55
6 times 11 is 66
7 times 11 is 77
8 times 11 is 88
9 times 11 is 99
10 times 11 is 110
11 times 11 is 121
12 times 11 is 132
_____________
1 times 12 is 12
2 times 12 is 24
3 times 12 is 36
4 times 12 is 48
5 times 12 is 60
6 times 12 is 72
7 times 12 is 84
8 times 12 is 96
9 times 12 is 108
10 times 12 is 120
11 times 12 is 132
12 times 12 is 144
_____________

In [30]:
shopping_list = ["milk", "pasta", "eggs", "spam", "bread", "rice"]
for item in shopping_list:
    if item != "spam":
        print("Buy " + item)

Buy milk
Buy paste
Buy eggs
Buy bread
Buy rice

In [32]:
shopping_list = ["milk", "pasta", "eggs", "spam", "bread", "rice"]
item_to_find = "spam"
found_at = None

for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at = index
        break # to jump out of the loop when we found what we are looking for
print("Item found at position {}".format(found_at))

Item found at position 3